body {margin: 5% auto; background: #fafafa; color: #333333; font-family: 'Open Sans', sans-serif; font-size: 20px; line-height: 1.6; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}
code {background: white;}
a {border-bottom: 3px solid #333333; color: #333333; text-decoration: none;}
a:hover {border-bottom: 0;}
h1 {font-family: 'Overpass Mono', monospace; font-weight:800; line-height: 1.3;}
h2 {font-family: 'Overpass Mono', monospace; line-height: 1.3; }
h3 {font-family: 'Overpass Mono', monospace; font-weight:300;}
h4 {font-family: 'Overpass Mono', monospace;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80xs%;
}
